[src^="/images/fffuuusmiles/"] {
width: 0;
padding: 70px;
background: no-repeat center /contain;
}
[alt="FFFUUU Смайлы"] {
padding: 20px !important;
background: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/20b2c9ef53262c5b502eb6c3e95e14bc.png') no-repeat center /cover;
}

[src="/images/fffuuusmiles/kiddingme.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/3be4af58ad8726915c62b42da175da79.png');
}
[src="/images/fffuuusmiles/hurts.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/7d7f795c075482de49ea36801bc83cfb.png');
}
[src="/images/fffuuusmiles/trolldance.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/266b4ab30f7ded2194a25aca32c65f4e.png');
}
[src="/images/fffuuusmiles/lawyerbeginner.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/c69157fd98c6e8192f2e3d662b74f88e.png');
}
[src="/images/fffuuusmiles/pickupmaster.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/60aa015f8792c9efab0d55b0e9531538.png');
}
[src="/images/fffuuusmiles/aimalaca.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/0ab8e7ab073b35e1800f4cd6dea8244b.png');
}
[src="/images/fffuuusmiles/cool.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/db0dd8daf84b638770e774d31d06f3c4.png');
}
[src="/images/fffuuusmiles/doomed.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/e99dd50486b933d57d1850f594a1512f.png');
}
[src="/images/fffuuusmiles/fair.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/027fd55ea8c7ec1733e2543c3a6a5cbc.png');
}
[src="/images/fffuuusmiles/fapfapfap.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/c6ad3e78ad2e6c284d1b85c9ff9495fc.png');
}
[src="/images/fffuuusmiles/foreveralone.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/b38e72456205be6e137ac0aaf2a8daa6.png');
}
[src="/images/fffuuusmiles/fu.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/578f2fc51ae1ff9155ca93671e584f7c.png');
}
[src="/images/fffuuusmiles/fuckyeah.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/b9797474714860267c0a1d68493bd055.png');
}
[src="/images/fffuuusmiles/happy.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/e4058b6aad9e260a69c63b9f73eca340.png');
}
[src="/images/fffuuusmiles/itsnotok.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/d806affb1efcc789ddcbe508dcf2d8e3.png');
}
[src="/images/fffuuusmiles/lol.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/b650e99f25b6d5b9222317da0022dae7.png');
}
[src="/images/fffuuusmiles/megustagirl.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/baf99626d3d6f06f7f7c9c15fb7ef05d.png');
}
[src="/images/fffuuusmiles/megustasmile.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/80b8f20f2810bcc484d7ce904c2963d9.png');
}
[src="/images/fffuuusmiles/muhaha.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/1ae86451d89c10ae0b21612acfc9d357.png');
}
[src="/images/fffuuusmiles/ofcourse.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/c1441fce24c60900afef2b4e9a7e3187.png');
}
[src="/images/fffuuusmiles/okay.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/869e4ab530410d7f557a7cc8677c28b4.png');
}
[src="/images/fffuuusmiles/pfff.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/20ce65b2f61efa5f9dc83a8a57706cc2.png');
}
[src="/images/fffuuusmiles/please.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/d8f69bd205db633a89aac8f1cff2706b.png');
}
[src="/images/fffuuusmiles/pokerface.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/6dd571933937ce4e3efebe459a155ff6.gif');
}
[src="/images/fffuuusmiles/really.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/6e51b7462a441d087794251604bec39b.gif');
}
[src="/images/fffuuusmiles/shkololota.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/f5033011a307c00119e757a6ccfbdb62.gif');
}
[src="/images/fffuuusmiles/suspiciou.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/20b2c9ef53262c5b502eb6c3e95e14bc.png');
}
[src="/images/fffuuusmiles/tobey.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/212168c4add6f6d6831c4266a0b5fc3e.gif');
}
[src="/images/fffuuusmiles/trollbl.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/21e0f12bbfff31133c16359c7ec9dd16.gif');
}

[src="/images/fffuuusmiles/whaaat.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/439b89e70e3567840642abd05145289e.gif');
}
[src="/images/fffuuusmiles/yaoming.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/4c89689018152419fb7dfff0c1566f9b.gif');
}
[src="/images/fffuuusmiles/yaominginv.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/1752712a332d5d7876bad7aabf6e2e7c.gif');
}
[src="/images/fffuuusmiles/yaomingpff.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/31356e695f6c4ccc6fab24c9ad2c5ff2.gif');
}
[src="/images/fffuuusmiles/beaman.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/7ef2ecc91aed74ff061151664ed84827.gif');
}
[src="/images/fffuuusmiles/rage.gif"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/3a988e3d0c253b5959f27c00b130bfa3.gif');
}
/*
картинка главной - не работает
[src="/images/logo_new.png"] {
background-image: url('/image_proxy.php?url=https://beon.vip/uploads_user/21000/20703/0e2866de6c4eddc517d0ab6c5b49bdc8.png');
}
*/
/*стиль заголовка*/

.card-title {
    background: none !important;
    margin-left: -7px !important;
}
.photo{
border-radius: 10px;
box-shadow: 0 0 10px #444;}
.post_image img{
border-radius: 10px;
box-shadow: -1px -1px 6px 2px #d3d3d3 !important;
box-shadow: -1px -1px 6px 2px #d3d3d3;
filter: invert(1);
}
textarea#comment_body {
color: #f2f2f2 !important;
}
div#lefthome .card {
    border-style: none;
}
.card-header {
    border-style: none;
}
   .invert {
    filter: invert(1);
   }
div#bbcode [src^="/images/bbcode/"] {
    filter: invert(1);
}
a#attach_file_click {
    filter: invert(1);
}
.profile_postcomment {
   border: none !important;
}
textarea#comment_body {
    border-color: #181818;
    padding: 10px;
    border-radius: 25px;
    min-height: 150px;
    border: none;
    background-color: #2f2f2f;
}
[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"] {
    right: 20px !important;
}
.comment_headline {
    /* text-align: center; */
    margin-left: 10px !important;
    border: none;
    background: #0d0d0d00 !important;
}
input#comment_submit {
    background: #2f2f2f;
    color: #dadada;
    border-radius: 10px;
}
a.copyright:link {
    color: #868686;
}
.top_header {
    
    
    background: #010101;
    border-bottom: 1px solid #000000;
}
div#designs {
-webkit-filter: invert(0.95);
}
.scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
  /* postcss-scrollbar will add the -webkit version automatically! */
}
/*мобильная часть*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    filter: invert(1) grayscale(1) drop-shadow(2px 4px 6px black);
}
.modal-content {
    filter: invert(1);
}
.like_user .photo {
    filter: invert(1);
}
.show_menu.header-orange {
    background: #C50000;
    filter: grayscale(1) !important;
}
#mobile_menu {
    background: #181818;
    color: #dadada
}
button.btn.btn-primary {
    border: unset;
    padding: 7px;
    background: #C50000;
    filter: invert(1) !important;
}
#mobile_menu .menu_item_dropdown a {
    background: #181818;
    color: #dadada;
    filter: grayscale(1);
}
.profile_postcomment {
    border: none;
}
button.btn.btn-secondary {
    background: #6b6b6b;
    border: unset;
    border-radius: 3px;
    filter: invert(1);
}
button.button_down {
    background: #a9a9a9;
}
.top_header table tbody tr td a img{
    filter: hue-rotate(73deg);
}

.top_header table tbody tr td:first-child {
    filter: invert(1);
}
body {
    background-color: #181818;
}
a:link {
    color: #C50000;
}
a.menu_item:link {
    color: #C50000;
}
div {
color: #dadada;
}
.profile_photo, .header, .profile_content, .profile {
border: none;
border: none !important;
}
.recentaction_div {
    background: none;
}
.header {
    color: #dadada !important;
}


td.profile_leftside td.header, td.profile_photo, td.profile, .profile_content, div.profile_action {
    border: none !important;
}

td.profile_leftside td.profile_menu1 a, div.nolink {
    background: #9E9E9E !important;
}
td.profile_rightside td.profile_tab2 a {
    background: #616161 !important;
}
td.profile_rightside td.profile_tab a {
    background: #9e9e9e !important;
}

