@import url('https://AstralSnake.github.io/sticer.css');



.profile_comment_author [href="https://beon.vip/you/"]:after {
    content: url(https://i.ibb.co/vdWH2Dp/image.png);
    margin-left: 5px;
}

.profile_comment_author [href="https://beon.vip/ontologia/"] img {
    content: url(https://beon.vip/uploads_user/1000/968/9cb569a68bcfb6127c1f801509df217c.png);
    filter: unset;
}

.profile_comment_author [href="https://beon.vip/evol/"]:after {
    content: url(https://beon.vip/uploads_user/1000/968/b7340d450f2d03001773e187f687b63e.png);
    margin-left: 5px;
}

.profile_comment_author [href="https://beon.vip/EOIZSWREkTD8qjS4127/"] {
color: transparent !important;
-webkit-background-clip: text;
background-image: url(https://media.tenor.com/UZswyok8T-oAAAAM/pride-rainbow.gif);
} 
.profile_comment_author [href="https://beon.vip/EOIZSWREkTD8qjS4127/"] {
color: transparent;
-webkit-background-clip: text;
background-image: url(https://media.tenor.com/UZswyok8T-oAAAAM/pride-rainbow.gif);
} 

.top_header {
    position: relative !important;
}
.copyright a {
    color: #7e7e7e !important;
}
.blog_leftsearch input[type="text"] {
    width: 80%;
    display: block;
    margin: auto;
    background: #460000;
    border: unset;
    border-radius: 3px;
    text-align: center;
}

.top_menu_link:hover div.menu_dropdown {
    border: unset !important;
}
    .body {
    background: black;
}
    .top_header {
    background: black;
}
    div.menu_dropdown {
    background: black !important;
}
    div.menu_item_dropdown a {
    background: black !important;
}
    .top_header a {
    color: #d50000 !important;
}
    div#righthome {
    color: #d50000;
}
    div#lefthome, div#lefthome a {
    color: #d50000;
}
    div#lefthome .card {
    border-color: black;
}
    button.btn.btn-primary, button.button_down {
    background: black;
}

    div#righthome {
    color: #d50000 !important;
}
    .card-header {
    border: unset;
}



div#lefthome, div#lefthome a {
    color: #7e7e7e;
}
    [src="/images/verify.png"] {
    content: url(https://assets.tumblr.com/images/tumblrmart/badges/blue-checkmark/1.png?_v=f270bb9…,%20https://assets.tumblr.com/images/tumblrmart/badges/blue-checkmark/1@2x.png?_v=f270bb9…%202x);
    filter: hue-rotate(
-192deg
);
    width: 14px;
}
    .comment_headline {
    border: unset !important;;
}
    .profile_postcomment {
    border: unset !important;
}
    .top_header {
    border-bottom: 1px solid #6a6a6a;
}
 [src="./images/logo_new.png"] {
    background: #7e7e7e;
    width: 20px;
    padding: 11px;
    height: 20px;
    margin-bottom: 28px;
}
    .top_menu_link:hover div.menu_dropdown {
    border: 0px !important;
}
