.content {
    color: white !important;
}

.seBlogComments .commentEditLink, .commentDeleteLink {
    border: unset;
    height: unset;
    background: unset;
    margin: unset;
    padding: unset !important;
}



.top_header {
    backdrop-filter: blur(4px);
    background: #ffffff1c;
    border: 0px;
}
   .menu_dropdown a.menu_item {
    background: #f3cbe3 !important;
}
      .menu_dropdown {
    
    border: none !important;
          padding: 0 !important;
}
  

.top_header a.menu_item {
    background: transparent !important;
}
  
    input#comment_submit {
    background: #ff83ea;
}
button.btn.btn-primary, button.button_down {
    background: #6386de;
    color: #e6edff;
}
    .post_data a, p.card-link.post_views, .post_data, .profile_comment_links, .like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before {
    color: #ffd4e7 !important;
}
    .like_button.liked:before, .like_button.liked+span {
    color: #ff3aef  !important;
}
.like_button.liked:before {
    text-shadow: 0 0 #e835d9;
    text-shadow: 0px 0px #e334d5;
}
    .copyright {
    font-size: 13px;
    color: #fdbcdb !important;
}

.seBlogColumnRightPadding .card {
    border: none;
}
[id^="comment_"] {
    margin-top: 20px;
}
    .profile_postcomment {
    border: none !important;
}
    .profile_postcomment [id^="comment_"] {
    margin-top: unset;
}
.post_container, [id^="comment_"] {
    border: 1px solid #aab5fb;
    padding: 10px !important;
    border-radius: 5px;
    background: #88aae973;
}
   h2.card-title a {
    background: #ff83ea;
    min-width: 50px;
    min-height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 5px 5px 5px 0px;
    color: #ffffff !important;
    padding: 5px;
    font-size: 25px;
    margin-left: 26px;
    box-shadow: 0px 1px 3px 1px #19264e70;
    margin-top: 20px;
}
    
   body {
    background: url(https://i.ibb.co/BnZP4xf/image.png) no-repeat fixed left top / 600px, url(https://i.ibb.co/0rq3nbL/image.png) repeat fixed !important;
    background-blend-mode: lighten;
}
    
   nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu [src="./images/logo_new.png"] {
    width: 28px;
    height: 35px;
    image-rendering: auto;
}
    span.category_post {
    color: #f8f9fa;
}
    
  [src="./images/logo_new.png"] {
    content: url(https://i.ibb.co/Gv0DtQM/moon.png);
    width: 40px;
    height: 50px;
    image-rendering: pixelated;
}
    
    .card-header {
    background: #ffbee2bd !important;
    width: 200px !important;
    margin: auto !important;
    border-radius: 5px !important;
    border: 1px solid #ffdcf1;
}
    li.p-1 {
    list-style: none;
    width: 200px !important;
    margin: auto !important;
}
    .blog_leftsearch .card-header {
    display: none;
}
    .card-body ul.seBlogCategoryList {
    width: 200px !important;
    margin: auto !important;
}
    .gifts-list img {
    width: 50px;
}
    .gifts-list .p-1 {
    font-size: 11px;
}
    input[type="text"] {
    background: #ffffff80 !important;
    padding: 5px;
    width: 200px !important;
}
    h2.card-title {
    background: none;
}
    a.top_menu_item {
    color: white !important;
    font-size: 17px !important;
}
    .comment_headline {
    border: none;
    background: none;
}
    div#comment_subscribe, [src="/images/notify.svg"] {
    border: none;
    background: none;
    filter: invert(75%) sepia(29%) saturate(510%) hue-rotate(277deg) brightness(105%) contrast(90%);
}
    div#righthome a {
    color: #dee8ff;
}
    .show_menu.header-orange {
    background: #ff83ea;
}
